In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import seaborn as sns;
from scipy.stats import ttest_ind, f_oneway, chi2_contingency;

In [2]:
url = "https://raw.githubusercontent.com/irfan-mohamed/eda-project/main/data/interim/cleaned_day2.csv"

df = pd.read_csv(url)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_km_per_ltr,engine,max_power_bhp,seats,brand
0,Maruti Swift Dzire VDI,2014,450000,145500.0,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000.0,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda
2,Honda City 2017-2020 EXi,2006,158000,140000.0,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda
3,Hyundai i20 Sportz Diesel,2010,225000,127000.0,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai
4,Maruti Swift VXI BSIII,2007,130000,120000.0,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti

#Two Sample T-test (Independent)
Checking wheather there is any mean difference between manual car selling price and automatic car selling price.
- **Null Hypothesis(H0):** There is no difference in mean selling price between manual and automatic cars.
- **Alternate Hypothesis(H1):** There is significant difference between the mean selling price between automatic and manual cars.

In [3]:
manual_selling_price = df[df['transmission'] == 'Manual']['selling_price']
automatic_selling_price = df[df['transmission'] == 'Automatic']['selling_price']

t_stat, p_value = ttest_ind(manual_selling_price, automatic_selling_price, equal_var = False)
print(f'T-Stat is :{t_stat}')
print(f'P Value is :{p_value}')

if p_value <=0.05:
  print('There is significance difference between the mean selling price between automatic and manual cars.')
else:
  print('There is no difference in mean selling price between manual and automatic cars.')

T-Stat is :-16.626921238796953
P Value is :3.500027789193249e-51
There is significance difference between the mean selling price between automatic and manual cars.

### Interpretation

- **Null Hypothesis (H₀):** There is no difference in mean selling price between manual and automatic cars
- **Result:** A low p-value indicates a statistically significant price difference
- **Conclusion:** Transmission type has a significant impact on selling price

# ANOVA selling price vs ownership.
checking whether the mean selling price for each ownership is same or not.
- **Null Hypothesis(H0):** There is no significant difference in selling price across ownership categories.

- **Alternate Hypothesis(H1):** Selling price differs significantly across ownership categories.

In [17]:
ownership_groups = [
    df[df['owner'] == owner]['selling_price']
    for owner in df['owner'].unique()
]

f_stat, p_value = f_oneway(*ownership_groups)
print(f'F-Stat is :{f_stat}')
print(f'P Value is :{p_value}')

if p_value <=0.05:
  print('There is significance difference between mean selling price across ownership categories.')
else:
  print('Mean selling price is the same across all ownership categories.')

F-Stat is :201.21191450358745
P Value is :1.6780072639079572e-163
There is significance difference between mean selling price across no. of owners.

### Interpretation

- **Null Hypothesis (H₀):** Mean selling price is the same across all ownership categories
- **Result:** A significant p-value suggests price differences across the ownership categories
- **Conclusion:** ownership categories influences resale price

#ANOVA selling price vs fuel type.
checking whether the mean selling price across the each fuel type is same or not.
- **Null Hypothesis(H0):** The mean of selling price across the all fuel type is same.
- **Alternate Hypothesis(H1):** There is significant price difference between fuel type categories.

In [4]:
groups = [
    df[df['fuel'] == fuel]['selling_price']
    for fuel in df['fuel'].unique()
    ]
f_stat, p_value = f_oneway(*groups)
print(f'F-Stat is :{f_stat}')
print(f'P Value is :{p_value}')

if p_value <=0.05:
  print('There is significance difference  between mean selling price across all fuel types.')
else:
  print('Mean selling price is the same across all fuel types.')

F-Stat is :164.40212390622216
P Value is :6.017854901048679e-103
There is significance difference  between mean selling price across all fuel types.

### Interpretation

- **Null Hypothesis (H₀):** Mean selling price is the same across all fuel types
- **Result:** A significant p-value suggests price differences across fuel categories
- **Conclusion:** Fuel type influences resale price

#Chi-Square Test (Seller Type vs Fuel Type)
checking is there any dependency between seller type and fuel type.
- **Null Hypothesis (H₀):** Seller type and fuel type are independent.
- **Alternate Hypothesis (H1):** Seller type and fuel type are dependent.

In [6]:
contigency = pd.crosstab(df['seller_type'], df['fuel'])

chi2_stat, p_value, dof, expected = chi2_contingency(contigency)

print(f'chi2-Stat is :{chi2_stat}')
print(f'P Value is :{p_value}')

if p_value <=0.05:
  print('There is a relationship between seller type and fuel type')
else:
  print('There is no relationship between seller type and fuel type.')

chi2-Stat is :35.55319387387939
P Value is :3.366323901495738e-06
There is a relationship between seller type and fuel type

### Interpretation

- **Null Hypothesis (H₀):** Seller type and fuel type are independent
- **Result:** A significant p-value indicates an association between seller and fuel type

# Engineered Features.

### Car Age
- `car_age` is calculating with the assumption that the data is from 2024.
- `car_age` captures depreciation effects.
- There assumes a strong negative relationship between `car_age` and `price`.

In [8]:
CURRENT_YEAR = 2024
df['car_age'] = CURRENT_YEAR - df['year']
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_km_per_ltr,engine,max_power_bhp,seats,brand,car_age
0,Maruti Swift Dzire VDI,2014,450000,145500.0,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,10
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000.0,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,10
2,Honda City 2017-2020 EXi,2006,158000,140000.0,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda,18
3,Hyundai i20 Sportz Diesel,2010,225000,127000.0,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,14
4,Maruti Swift VXI BSIII,2007,130000,120000.0,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6921,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000.0,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0,Maruti,11
6922,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000.0,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0,Hyundai,10
6923,Hyundai i20 Magna,2013,320000,110000.0,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,11
6924,Hyundai Verna CRDi SX,2007,135000,119000.0,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,17
6925,Maruti Swift Dzire ZDi,2009,382000,120000.0,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,15

# Brand Categories.
- There are brands which shows severe variations in price.
- Catogorizing brand as luxury brands and non luxury brands.
- Brand category simplifies high-cardinality brand information into meaningful segments.

In [9]:
luxury_brands = ['Bmw', 'Mercedes-Benz', 'Audi', 'Jaguar', 'Volvo', 'Land Rover']

df['brand_category'] = df['brand'].apply(lambda x : 'Luxury' if x in luxury_brands else 'Non-Luxury')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_km_per_ltr,engine,max_power_bhp,seats,brand,car_age,brand_category
0,Maruti Swift Dzire VDI,2014,450000,145500.0,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,10,Non-Luxury
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000.0,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,10,Non-Luxury
2,Honda City 2017-2020 EXi,2006,158000,140000.0,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda,18,Non-Luxury
3,Hyundai i20 Sportz Diesel,2010,225000,127000.0,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,14,Non-Luxury
4,Maruti Swift VXI BSIII,2007,130000,120000.0,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,17,Non-Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6921,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000.0,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0,Maruti,11,Non-Luxury
6922,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000.0,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0,Hyundai,10,Non-Luxury
6923,Hyundai i20 Magna,2013,320000,110000.0,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,11,Non-Luxury
6924,Hyundai Verna CRDi SX,2007,135000,119000.0,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,17,Non-Luxury
6925,Maruti Swift Dzire ZDi,2009,382000,120000.0,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,15,Non-Luxury

# Kilometer Per Year
- `km_per_year` will helps to find the usage intensity of a vehicle.
- High annual usage means more wear then lower price.

In [11]:
df['km_per_year'] = df['km_driven'] / df['car_age'].replace(0, 1)
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_km_per_ltr,engine,max_power_bhp,seats,brand,car_age,brand_category,km_per_year
0,Maruti Swift Dzire VDI,2014,450000,145500.0,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,10,Non-Luxury,14550.000000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000.0,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,10,Non-Luxury,12000.000000
2,Honda City 2017-2020 EXi,2006,158000,140000.0,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda,18,Non-Luxury,7777.777778
3,Hyundai i20 Sportz Diesel,2010,225000,127000.0,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,14,Non-Luxury,9071.428571
4,Maruti Swift VXI BSIII,2007,130000,120000.0,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,17,Non-Luxury,7058.823529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6921,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000.0,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0,Maruti,11,Non-Luxury,4545.454545
6922,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000.0,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0,Hyundai,10,Non-Luxury,8000.000000
6923,Hyundai i20 Magna,2013,320000,110000.0,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,11,Non-Luxury,10000.000000
6924,Hyundai Verna CRDi SX,2007,135000,119000.0,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,17,Non-Luxury,7000.000000
6925,Maruti Swift Dzire ZDi,2009,382000,120000.0,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,15,Non-Luxury,8000.000000

# Price Per Kilometer
- It helps to show that how the price retains according to their usage.
- It helps to find resale value.
- High Value means low depreciation in price.

In [13]:
df['price_per_km'] = df['selling_price'] / df['km_driven'].replace(0, np.nan)
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_km_per_ltr,engine,max_power_bhp,seats,brand,car_age,brand_category,km_per_year,price_per_km
0,Maruti Swift Dzire VDI,2014,450000,145500.0,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,10,Non-Luxury,14550.000000,3.092784
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000.0,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,10,Non-Luxury,12000.000000,3.083333
2,Honda City 2017-2020 EXi,2006,158000,140000.0,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda,18,Non-Luxury,7777.777778,1.128571
3,Hyundai i20 Sportz Diesel,2010,225000,127000.0,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,14,Non-Luxury,9071.428571,1.771654
4,Maruti Swift VXI BSIII,2007,130000,120000.0,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,17,Non-Luxury,7058.823529,1.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6921,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000.0,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0,Maruti,11,Non-Luxury,4545.454545,5.200000
6922,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000.0,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0,Hyundai,10,Non-Luxury,8000.000000,5.937500
6923,Hyundai i20 Magna,2013,320000,110000.0,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,11,Non-Luxury,10000.000000,2.909091
6924,Hyundai Verna CRDi SX,2007,135000,119000.0,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,17,Non-Luxury,7000.000000,1.134454
6925,Maruti Swift Dzire ZDi,2009,382000,120000.0,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,15,Non-Luxury,8000.000000,3.183333

# Power To Engine Ratio
- It Helps to find that how customer pays for different powers of engine.
- Same engine size can have different performance.

In [15]:
df['power_to_engine_ratio'] = df['max_power_bhp'] / df['engine']
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_km_per_ltr,engine,max_power_bhp,seats,brand,car_age,brand_category,km_per_year,price_per_km,power_to_engine_ratio
0,Maruti Swift Dzire VDI,2014,450000,145500.0,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,10,Non-Luxury,14550.000000,3.092784,0.059295
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000.0,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,10,Non-Luxury,12000.000000,3.083333,0.069105
2,Honda City 2017-2020 EXi,2006,158000,140000.0,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,Honda,18,Non-Luxury,7777.777778,1.128571,0.052104
3,Hyundai i20 Sportz Diesel,2010,225000,127000.0,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,14,Non-Luxury,9071.428571,1.771654,0.064470
4,Maruti Swift VXI BSIII,2007,130000,120000.0,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,17,Non-Luxury,7058.823529,1.083333,0.067951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6921,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000.0,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0,Maruti,11,Non-Luxury,4545.454545,5.200000,0.067234
6922,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000.0,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0,Hyundai,10,Non-Luxury,8000.000000,5.937500,0.063560
6923,Hyundai i20 Magna,2013,320000,110000.0,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,11,Non-Luxury,10000.000000,2.909091,0.069215
6924,Hyundai Verna CRDi SX,2007,135000,119000.0,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,17,Non-Luxury,7000.000000,1.134454,0.073677
6925,Maruti Swift Dzire ZDi,2009,382000,120000.0,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,15,Non-Luxury,8000.000000,3.183333,0.059215

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6926 entries, 0 to 6925
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   6926 non-null   object
 1   year                   6926 non-null   int64
 2   selling_price          6926 non-null   int64
 3   km_driven              6926 non-null   float64
 4   fuel                   6926 non-null   object
 5   seller_type            6926 non-null   object
 6   transmission           6926 non-null   object
 7   owner                  6926 non-null   object
 8   mileage_km_per_ltr     6926 non-null   float64
 9   engine                 6926 non-null   float64
 10  max_power_bhp          6926 non-null   float64
 11  seats                  6926 non-null   float64
 12  brand                  6926 non-null   object
 13  car_age                6926 non-null   int64
 14  brand_category         6926 non-null   object
 15  km_per_year            6926 non-null   float64
 16  price_per_km           6926 non-null   float64
 17  power_to_engine_ratio  6926 non-null   float64
dtypes: float64(8), int64(3), object(7)
memory usage: 974.1+ KB

In [20]:
df_final = df.drop(columns='year')

df_final.to_csv('final_cleaned_day4.csv', index = False)